@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fefeff;
}

/* GENERAL PROPERTIES */

.nav-bar,
.hero-section h2,
.buttons {
  font-family: "Manrope", sans-serif;
}

.button a {
  font-family: "Manrope", sans-serif;
  background-color: rgba(41, 41, 41, 1);
  color: rgba(250, 250, 250, 1);
  padding: 1rem 2.5rem;
  text-decoration: none;
  border-radius: 5rem;
  font-weight: 700;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: rgba(0, 0, 0, 0.5);
  height: 3px;
}

h2 {
  color: rgba(77, 76, 76, 1);
  font-family: Manrope, sans-serif;
}

p {
  color: rgba(77, 76, 76, 1);
  font-family: Nunito, sans-serif;
}

/* NAVBAR */

.nav-bar {
  width: 100%;
  height: 8.4rem;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
}

.nav-bar .logo {
  margin: auto 14rem;
}

.nav-lis {
  margin-right: 14rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.nav-lis li {
  margin: auto 1.8rem;
  font-weight: 400;
}

.nav-lis .focus {
  color: rgba(41, 41, 41, 1);
  position: relative;
  font-weight: 600;
}

.focus::after {
  position: absolute;
  top: 2.2rem;
  display: block;
  content: "";
  width: 100%;
  border-bottom: 3px solid #e7332b;
  border-radius: 10rem;
}

.nav-lis .no-focus {
  color: rgba(98, 97, 97, 0.8);
  position: relative;
}

.no-focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 2.4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s;
}

.no-focus:hover::after {
  width: 100%;
  padding: 0;
  border-bottom: 2px solid #e7332b;
  border-radius: 10rem;
}

.nav-button {
  margin: auto;
  width: auto;
}

.nav-button a {
  background-color: rgba(41, 41, 41, 1);
  color: rgba(250, 250, 250, 1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  margin-left: 1.5rem;
}

.nav-button a:hover {
  background-color: #e7332b;
}

.nav-button a:active {
  padding: 1rem 2.2rem;
}

hr {
  opacity: 0.1;
}

/* HERO SECTION  */

.hero-section {
  margin: auto 14rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 85vh;
}

.hero-section-image {
  margin-left: -10rem;
  width: 900px;
  height: auto;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  margin-top: 12.2rem;
  min-width: 44rem;
}

.hero-section-text h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 700;
  width: 100%;
  color: rgba(77, 76, 76, 1);
  margin-bottom: 1.4rem;
}

.hero-section-text p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #4d4c4c;
  width: 80%;
  margin-bottom: 1.4rem;
}

.hero-section-buttons {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-section-primary-button {
  padding: 2rem 0 4rem 0;
}

.hero-section-primary-button a {
  padding: 1.6rem 3rem 1.6rem 3rem;
  background-color: #e7332b;
  color: rgba(250, 250, 250, 1);
  font-weight: 800;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.hero-section-primary-button a:hover {
  background-color: rgba(41, 41, 41, 1);
}

.hero-section-primary-button a:active {
  padding: 1.6rem 2.8rem;
}

.hero-section-secondary-button {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 0.4rem;
  position: absolute;
  bottom: 3.9rem;
  left: 21rem;
}

.hero-section-secondary-button-link {
  padding-right: 0.4rem;
}

/* SECOND SECTION */

.second-section {
  display: flex;
  height: 75vh;
  width: 100%;
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 63vh, 0 100%);
}

.ingressive img {
  width: 12rem;
  height: 12rem;
  margin-bottom: 8rem;
}

.cards-and-ingressive {
  margin: 0 14rem;
}

.second-section-flex {
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  grid-gap: 1.5rem;
}

.container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  padding: 1.8rem 0 3.5rem 2rem;
  z-index: 1;
}

.most-shadow {
  filter: drop-shadow(2px 6px 20px rgba(0, 0, 0, 0.1));
}

.less-shadow {
  box-shadow: 1px 2px 4px 0px rgba(214, 217, 223, 0.5);
}

.box {
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.box1 {
  background-color: #f0dcf8;
}

.box2 {
  background-color: #fceceb;
}

.box3 {
  background-color: #effff4;
}

.box4 {
  background-color: #eff1ff;
}

.container3 .paragraph3 {
  font-size: 8rem;
}

.second-section-flex h3 {
  font-family: Manrope, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0.5rem;
  color: rgba(77, 76, 76, 1);
}

.second-section-flex p {
  font-family: Nunito;
  font-size: 13px;
  color: rgba(77, 76, 76, 1);
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 80%;
}

.second-section-text {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.second-section-text h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  width: 25rem;
  margin-bottom: 2rem;
}

.second-section-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  width: 27rem;
  margin-bottom: 4rem;
}

.second-section-button a:hover {
  background-color: #e7332b;
}

.second-section-button a:active {
  background-color: #e7332b;
  padding: 1rem 2.2rem;
}

.second-section-art {
  position: absolute;
  width: 52.5rem;
  height: 14rem;
  left: 28rem;
  top: 7.3rem;
}
